<ion-view title="Log In">
<ion-content>

        <ion-list>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
            <button class="button button-full button-calm">Login</button>
            <button class="button button-full button-clear" ui-sref="signup" style="color: black">Forgot Password</button>
        </ion-list>

</ion-content>
</ion-view>