<ion-view title="Sign Up">
    <ion-content>

        <ion-list>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
            <button class="button button-full button-calm">Sign Up</button>
            <button class="button button-full button-clear" style="color: black" ui-sref="login">Already have an account ?</button>
        </ion-list>

    </ion-content>
</ion-view>